<div class="ui raised segment">
  <h2 class="ui header">Demo Form</h2>
  <form [formGroup]="form"
    (ngSubmit)="onSubmit(form.value)"
    class="ui form"
    [class.error]="form.touched && !form.valid"
  >
    <div class="field">
      <label for="skuInput">SKU</label>
      <input type="text" id="skuInput" placeholder="SKU" name="sku"
        [formControl]="form.controls['sku']"
      >
      <div *ngIf="!form.controls['sku'].valid"
        class="ui error message"
      >
        SKU Required
      </div>
    </div>
  </form>
</div>
  