<!-- Using resolve on input -->
<!-- <input type="text" #input placeholder="Search videos">
<button (click)="submit(input.value)">Submit</button> -->

<!-- Using form with regular forms -->
<!-- <form (ngSubmit)="submit(form.value)" #form="ngForm">
  <input type="text" name="name" ngModel>
</form> -->

<!-- Using form builder -->
<!-- <form [formGroup]="form" (submit)="search(form.value)">
  <input name="search" type="text" [formControl]="form.controls['search']">
</form> -->

<!-- Using Observable -->
<input type="text" name="search" autofocus>
